<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice game</title>
</head>
<body>
<h1>Welcome to the Dice Roll Game!</h1>



<h2>Select a number 1 through 6</h2>
<ul>
    <li><a href="/coffee/dark">1</a></li>
    <li><a href="/coffee/medium">2</a></li>
    <li><a href="/coffee/light">3</a></li>
    <li><a href="/coffee/light">4</a></li>
    <li><a href="/coffee/light">5</a></li>
    <li><a href="/coffee/light">6</a></li>

</ul>
</body>
</html>